<h1>New Restaurant</h1>

<%= form_for @shop do |f| %>

  <div class="form-group">
    <%= f.label :name, "Shop Name" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>




<% end %>

